body
{
    background-color:#ffcccc;
}
#b1,#b2
{
    background-color:#ccbbff;
    color:white;
    padding:8px;
    font-size:15px;
    margin:20px;
    border:1px solid gray ;
    border-radius:28px;
    font-family:fantasy;
}
input
{
    margin:6px;
    padding:5px;
}